@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap");

.step-description {
  letter-spacing: 0.05em;
  font-size: 0.85em;
  line-height: 2em;
}

h6 {
  font-size: 0.8em !important;
}
